# macOS system files
.DS_Store

# Compiled Python files
*.pyc
__pycache__/
*.py[cod]
.cache/

# Virtual environment
venv/

# Environment variables
.env

# Generated task definition
services/backend-auth/deployment/ecs/task-definition.json
